inoutlists/UN_consolidated.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CONSOLIDATED_LIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="INDIVIDUALS">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="INDIVIDUAL">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="DATAID" type="xs:positiveInteger" />
                    <xs:element minOccurs="0" maxOccurs="1" name="VERSIONNUM" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="FIRST_NAME" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SECOND_NAME" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="THIRD_NAME" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="FOURTH_NAME" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="UN_LIST_TYPE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="REFERENCE_NUMBER" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="LISTED_ON" type="xs:date" />
                    <xs:element minOccurs="0" maxOccurs="1" name="GENDER" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="NAME_ORIGINAL_SCRIPT" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="COMMENTS1" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="TITLE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="VALUE" type="xs:string" nillable="true"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="DESIGNATION">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="VALUE" type="xs:string" nillable="true"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="NATIONALITY">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="VALUE" type="xs:string" nillable="true"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LIST_TYPE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="VALUE" type="xs:string" nillable="true"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LAST_DAY_UPDATED">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="VALUE" type="xs:string" nillable="true"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="INDIVIDUAL_ALIAS">
                      <xs:complexType>
                        <xs:all>
                          <xs:element minOccurs="0" maxOccurs="1" name="QUALITY" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="ALIAS_NAME" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="DATE_OF_BIRTH" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="CITY_OF_BIRTH" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="COUNTRY_OF_BIRTH" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="NOTE" type="xs:string" nillable="true" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="INDIVIDUAL_ADDRESS">
                      <xs:complexType>
                        <xs:all>
                          <xs:element minOccurs="0" maxOccurs="1" name="STREET" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="STATE_PROVINCE" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="CITY" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="COUNTRY" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="ZIP_CODE" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="NOTE" type="xs:string" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="INDIVIDUAL_DATE_OF_BIRTH">
                      <xs:complexType>
                        <xs:all>
                          <xs:element minOccurs="0" maxOccurs="1" name="TYPE_OF_DATE" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="DATE" type="xs:date" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="FROM_YEAR" type="xs:positiveInteger" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="TO_YEAR" type="xs:positiveInteger" nillable="true" />                          
                          <xs:element minOccurs="0" maxOccurs="1" name="YEAR" type="xs:positiveInteger" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="NOTE" type="xs:string" nillable="true" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="INDIVIDUAL_PLACE_OF_BIRTH">
                      <xs:complexType>
                        <xs:all>
                          <xs:element minOccurs="0" maxOccurs="1" name="STREET" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="CITY" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="STATE_PROVINCE" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="COUNTRY" type="xs:string" nillable="true" />
                          <xs:element minOccurs="0" maxOccurs="1" name="NOTE" type="xs:string" nillable="true" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="INDIVIDUAL_DOCUMENT">
                      <xs:complexType>
                        <xs:all>
                          <xs:element minOccurs="0" maxOccurs="1" name="TYPE_OF_DOCUMENT" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="TYPE_OF_DOCUMENT2" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="NOTE" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="NUMBER" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="ISSUING_COUNTRY" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="DATE_OF_ISSUE" type="xs:date" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="CITY_OF_ISSUE" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="COUNTRY_OF_ISSUE" type="xs:string" nillable="true"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SORT_KEY" type="xs:string" nillable="true"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="SORT_KEY_LAST_MOD" type="xs:string" nillable="true"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ENTITIES">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTITY">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="DATAID" type="xs:positiveInteger" />
                    <xs:element minOccurs="0" maxOccurs="1" name="VERSIONNUM" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="FIRST_NAME" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="UN_LIST_TYPE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="REFERENCE_NUMBER" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="LISTED_ON" type="xs:date" />
                    <xs:element minOccurs="0" maxOccurs="1" name="NAME_ORIGINAL_SCRIPT" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="COMMENTS1" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="LIST_TYPE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="VALUE" type="xs:string" nillable="true"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LAST_DAY_UPDATED">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="VALUE" type="xs:string" nillable="true"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTITY_ALIAS">
                      <xs:complexType>
                        <xs:all>
                          <xs:element minOccurs="0" maxOccurs="1" name="QUALITY" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="ALIAS_NAME" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="NOTE" type="xs:string" nillable="true"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTITY_ADDRESS">
                      <xs:complexType>
                        <xs:all>
                          <xs:element minOccurs="0" maxOccurs="1" name="STREET" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="STATE_PROVINCE" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="CITY" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="COUNTRY" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="ZIP_CODE" type="xs:string" nillable="true"/>
                          <xs:element minOccurs="0" maxOccurs="1" name="NOTE" type="xs:string" nillable="true"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SORT_KEY" type="xs:string" nillable="true"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="SORT_KEY_LAST_MOD" type="xs:string" nillable="true"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="dateGenerated" type="xs:dateTime" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>